body {
  width: 100%;
  height: 100dvh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
  display: flex;
  justify-content:center;
  align-items:center;
}

h1{
  margin: 1em auto;
  text-align: center;
}

.form-box {
  background-color: black;
  width: 90vw;
  max-width: 650px;
  min-width: 300px;
  display: none;
  padding: 2em 1em;
  border: black double 3px;
  height: auto;
  border-radius: .5rem;
  font-size: 1.5rem;
  box-shadow: 15px 15px 15px 0 #111311 ;
}
.form-box.active {
  display: block;
}
fieldset {
  border: none;
  padding: 2rem 0;
  margin: auto;
}


label {
  display: inline-block;
  margin: 1rem 0;
  padding: .5rem;
}

input,.error-message{
  width: 100%;
  min-height: 3rem;
  display: block;
  border-radius: .5rem;
  background-color: #0a0a23;
  border: 1px solid #f7f7f8;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1rem auto;
  height: 2rem;
  font-size: 1.5rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

span{
  margin: 2rem 0 0 0;
  display: block;
  text-align: center;
}
