:root{
    --gap:1.5rem;
    --min_col:360px;
}

.grid{
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit,minmax(var(--min_col),1fr));
    margin: 0;
    padding:1.5rem;
}
.grid-item{
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.grid-item.aspect{
    aspect-ratio: 1/1;
}
.grid-item .banner_img{
    aspect-ratio: 1/1;
    border: black solid .1rem ;
    border-radius: .5rem;
}
@media (max-width:660px){
    :root{
        --min_col:180px;
    }
}
@media (max-width:1200px){
    :root{
        --min_col:240px;
    }
}

.grid-item ul{
    margin: 0;
    padding: 0;
}

.grid-item ul li{
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: auto;
    align-self: flex-start;
}
.grid-item button{
    padding: .4rem;
    border-radius: .5rem;
    margin-top: 1rem;
    background-color: #ff7f00;
    border: #ff7f00;
    color: #ffffff;
    box-shadow: inset;
    font-weight: bolder;
}