html body{
    font-family: 'Inter' , sans-serif;
    outline: 1px solid red;
    
}
header{
    display: inline-flex;
}

#logo{
    font-family: 'Bebas Neue' , sans-serif;
    font-size: 48px;
}

#navigation{
    display: inline-flex;
    list-style: none;

}
#navigation li{
    padding: 10px;
}
#navigation li a{
    text-decoration:none;
}