html body{
    font-family: 'Tahoma' , sans-serif;
    /* outline: 1px solid red;  */
    height: auto;
    margin: auto;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100vw;
}
header{
   width: 100dvw;
   display: flex;
   justify-content: center;
   background-color: rgb(223, 223, 223);
}
.centered{
    max-width: 68vw; 
    margin: auto;
}

.logo{
    height: auto;
    width:min(50rem,69%);
    display: block;
    padding:1.2rem 0 ;
}
.action{
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.buttons{
    border: black solid 3px;
    border-radius: .8rem;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 1rem;
    padding: 3rem;
    aspect-ratio: 2/1;
}
footer{
    width: 100%;
}
.footer {
    display: block;
    padding: 0;
    height: auto;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    bottom:0;   
    border-bottom:2px solid rgb(0, 0, 0);
   padding: 1.8rem 0;
    width: 100%;

}
.footer_logo{
    width: min(13rem,30%);
    height: auto;
}
.footer_links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 10px;
}
.footer ul {
    list-style:none;
    padding: 0;
}
.footer_links li{
    display: flex;
    justify-content:baseline;
    gap: 1.2rem;
    margin:0;
}
.footer_links{
    margin: auto .8rem;
}
#footer_bottom{
    padding:1.8rem ;
}#social,p{
    list-style: none;
    display: flex;
    gap: 2.2rem;
    justify-content: center;
    padding: .4rem 0;
}
@media(max-width:660px){
    .centered{
        min-width: 85vw;
    }
    .footer{
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column
    };
    body{
        font-size: 14px;
        
    }
    .buttons{
        /* 
        margin: 1rem 0;
        padding: 1rem;
        font-size: .5rem;
*/      aspect-ratio: 1/1;
        min-width: 70%;
    }
}
